<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Task - Web Developer</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <h1>ТюмГУ</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Заявления</a></li>
                    <li><a href="#">Достижения</a></li>
                    <li><a href="#">Протокол</a></li>
                    <li><a href="#">Алитика</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <div class="user">
                <a>Иванова Елена Петровна</a>
            </div>
        </div>
    </header>

    <main>
        <section class="application-info">
            <h2>Заявление</h2>
            <div class="info">
                <div class="column">
                    <div><strong>Подразделение:</strong> Школа компьютерных наук</div>
                    <div><strong>Направление:</strong> Компьютерная безопасность</div>
                    <div><strong>Оценки:</strong> 5, 5, 5, 4, 4, Зачтено</div>
                    <div><strong>Курс:</strong> 3</div>
                </div>
                <div class="column">
                    <div><strong>ФИО:</strong> Берёхов Никита Игоревич</div>
                    <div><strong>Дата подачи:</strong> 11.02.2025</div>
                    <div><strong>Статус:</strong> На проверке</div>
                    <div><strong>Регистрационный номер:</strong> 123456789</div>
                </div>
            </div>
        </section>
        <nav>
            <ul>
                <li class="active"><a href="#">Учебная деятельность</a></li>
                <li><a href="#">Научно-исследовательская деятельность</a></li>
                <li><a href="#">Общественная деятельность</a></li>
                <li><a href="#">Культурно-творческая деятельность</a></li>
                <li><a href="#">Спортивная деятельность</a></li>
            </ul>
        </nav>
        <section class="achievements-info">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Описание достижения</th>
                        <th class="status">Статус мероприятия</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Диплом за 1 место в мероприятии “Русский медвежонок”</td>
                        <td class="status">Международный</td>
                        <td>01.09.2024</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Диплом за 3 место в мероприятии “Олимпиада IT-планета: web-разработка”</td>
                        <td class="status">Всероссийский</td>
                        <td>01.10.2024</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Диплом за 2 место в мероприятии “Олимпиада Умнее Всех по математике”</td>
                        <td class="status">Региональный</td>
                        <td>21.09.2024</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Диплом за 1 место в мероприятии “Чемпионат Тюмени по программированию”</td>
                        <td class="status">Муниципальный</td>
                        <td>07.10.2024</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 ТюмГУ. Все права защищены.</p>
    </footer>
</body>
</html>
