<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>second_list</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <img src="static/logo.png" alt="">
                </div>
                <div class="header__nav">
                    <ul>
                        <li><a href="">Заявления</a></li>
                        <li><a href="">Достижения</a></li>
                        <li><a href="">Протокол</a></li>
                    </ul>
                </div>
                <div class="header__profile">
                    <span class="header__name">Иванова Елена Петровна</span>
                    <div class="header__avatar">
                        <img src="static/avatar.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="navig">
        <div class="wrapper">
            <div class="navig__wrapper">
                <div class="navig__left-button">
                    <div class="navig__left-image">
                        <img src="static/left.svg" alt="">
                    </div>
                    <span>Предыдущее</span>
                </div>

                <div class="navig__text-decoration">
                    <span>Достижение</span>
                </div>

                <div class="navig__right-button">
                    <span>Следующее</span>
                    <div class="navig__right-image">
                        <img src="static/right.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="wrapper">
            <div class="main__wrapper">
                <aside class="info">
                        <div class="info__text">
                            <span>ФИО: Берюхов Никита Игоревич</span>
                        </div>
                        <div class="info__text">
                            <span>Категория: учебная деятельность</span>
                        </div>
                        <div class="info__text">
                            <span>Уровень достижения: международный</span>
                        </div>
                        <div class="info__text">
                            <span>Дата получения: 01.01.2021</span>
                        </div>
                        <div class="info__text">
                            <span>Описание:</span>
                        </div>
                        <div class="info__comment">
                            <textarea name="comment" cols="55" rows="5">Диплом за 1 место в международном чемпионате по программированию ICPC, Екатеринбург</textarea>
                        </div>
                </aside>
                <section class="diplom">
                    <img src="static/diplom.svg"> 
                </section>
            </div>
        </div>
    </main>
</body>
</html>