* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ededf0;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header div {
  display: flex;
}
header div .logo {
  margin: 0 10px 0 10px;
}
header div .logo h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
header div nav {
  margin: auto 10px auto 10px;
}
header div nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header div nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
  transition: color 0.3s;
}
header div nav ul li a:hover {
  color: #00aeef;
}

main {
  max-width: 1200px;
  margin: 30px auto;
}
main section {
  padding: 20px;
  margin: 30px 0 0 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
main section .info {
  display: flex;
  justify-content: space-between;
}
main section .info div.column {
  width: 50%;
}
main nav {
  margin: 30px 0 0 0;
}
main nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
main nav ul li {
  padding: 5px;
}
main nav ul li a {
  text-decoration: none;
  color: #828f9c;
  font-size: 1.1rem;
  transition: color 0.3s;
}
main nav ul li a:hover {
  color: #00aeef;
}
main nav ul li.active {
  border-bottom: 3px solid #005bff;
}
main nav ul li.active a {
  color: #000000;
}

.status {
  display: flex;
  width: 185px;
  height: 32px;
  padding: 8px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  position: relative;
  text-align: end;
  z-index: 1;
}
.status::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 7px;
  top: 8px;
  -webkit-mask: center center no-repeat;
          mask: center center no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #ffffff;
}
.status--new {
  background-color: #FF9500;
}
.status--new::before {
  -webkit-mask-image: url("static/new.svg");
          mask-image: url("static/new.svg");
}
.status--checking {
  background-color: #32ADE6;
}
.status--checking::before {
  -webkit-mask-image: url("static/checking.svg");
          mask-image: url("static/checking.svg");
}
.status--science {
  background-color: #AF52DE;
}
.status--science::before {
  -webkit-mask-image: url("static/science.svg");
          mask-image: url("static/science.svg");
}
.status--fix {
  background-color: #A2845E;
}
.status--fix::before {
  -webkit-mask-image: url("static/fix.svg");
          mask-image: url("static/fix.svg");
}
.status--done {
  background-color: #009951;
}
.status--done::before {
  -webkit-mask-image: url("static/done.svg");
          mask-image: url("static/done.svg");
}
.status span {
  display: block;
  margin-left: auto;
  position: relative;
  z-index: -1;
}
.status label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.status input {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 215px;
  max-width: 100%;
}

.select-button {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  background-color: white;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 10px 0 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.select-dropdown li {
  padding: 0;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select-dropdown.hidden {
  display: none;
}

.select-button .arrow {
  transform: rotate(90deg);
}

.select-button[aria-expanded=true] .arrow {
  transform: rotate(0deg);
}

.application-info h2, .achievements-info h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.application-info .info {
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.application-info .info div {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  font-size: 1.1rem;
}

td {
  font-size: 1rem;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222222;
  color: #ffffff;
  margin-top: 40px;
}
footer p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header div {
    flex-direction: column;
  }
  header div nav ul {
    flex-direction: column;
    gap: 10px;
  }
  main section div.info {
    flex-direction: column;
  }
  main section div.info div.column {
    width: 100%;
  }
  .application-info, .achievements-info {
    padding: 10px;
  }
  table {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=application.css.map */